@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Montserrat", "Sans-serif";
}

ul li {
  list-style-type: none;
}

a {
  @include clearlink($text-second-color);
  background-color: transparent;
  font-size: 14px;
  transition: 0.4s;

  &:hover {
    color: $primary-color;
  }
}

.nav {
  height: 12rem;

  hr {
    border: none;
    height: 1px;
    background-color: #f0f3f5;
  }
}

.nav-top {
  height: 8rem;
  @include flex-el(space-between);
  margin: auto 4.5rem;
}

.contact-search {
  @include flex-el(space-evenly);

  &__contact {
    @include flex-el(space-evenly);
    font-size: 12px;
    color: $text-second-color;
    margin-right: 1rem;
    i {
      font-size: 20px;
      margin-right: 10px;
    }

    a {
      @include clearlink($text-primary-color);
    }
  }

  .input-search {
    width: 40vw;
    height: 45px;
    border: 1px solid #d1dae0;
    border-radius: 50px;
    padding: 0 2rem;

    &:focus {
      border: 0.3px solid $primary-color;
    }
  }

  .btn__search {
    margin: auto 0;
    transform: translateX(-250%);
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: $text-third-color;
  }
}

.mini-card {
  @include flex-el(space-evenly);
  font-size: 12px;
  color: $text-second-color;
  margin-right: 1rem;
  line-height: 1.5rem;
  i {
    font-size: 20px;
    margin-right: 20px;
  }

  &:last-child {
    @include clearlink($text-primary-color);
  }

  span {
    color: $primary-color;
  }
}
.nav-bottom {
  height: 4rem;
  display: flex;

  &__items {
    @include flex-el(space-evenly);
    width: 100%;
    height: 100%;
    margin: auto 25%;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;

    &:hover {
      .nav-bottom__dropdown-block {
        display: grid;
        float: none;
        animation: DropdownSlideUp 0.4s forwards ease-in;
      }
    }
  }

  &__dropdown-block {
    display: none;
    opacity: 0;
    z-index: 3;
    position: absolute;
    top: 12rem;
    border-top: 2px solid $primary-color;
    height: 30vh;
    width: auto;
    align-items: center;
    flex-direction: column;
  }

  &__dropdown-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 15px 0;
  }

  &__dropdown-item {
    padding: 1rem 4rem 1rem 2rem;

    &--head {
      background-color: #f9f9f9;
      border-bottom: 1px dashed #e8e8e8;
      padding: 10px 4rem 10px 10px;
      margin-left: 25px;
      a {
        background-color: transparent;
      }
    }
  }

  &__dropdown-link {
    @include font-custom(14px, 300, $text-second-color);
    &:hover {
      color: $primary-color;
    }
  }
}

.nav-bottom__item {
  &:nth-child(2) {
    .nav-bottom__dropdown-block {
      grid-template-columns: repeat(4, 1fr);
      position: absolute;
      left: 10%;
    }
  }
}

.hero {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 700px;

  #i1,
  #i2 {
    display: none;
  }

  #i1:checked ~ #one,
  #i2:checked ~ #two {
    z-index: 1;
    opacity: 1;
  }

  #i1:checked ~ #hero-text,
  #i2:checked ~ #hero-text {
    &__title {
      animation: slideUp 1s forwards;
    }

    &__info {
      animation: slideUp 1s 0.4s forwards;
    }

    &__description {
      animation: slideUp 1s 0.6s forwards;
    }

    hr {
      animation: slideUp 1s 0.6s forwards;
    }

    &__btn-shop {
      animation: slideUp 1s 0.8s forwards;
    }
  }
}

.slide__img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-out;
  opacity: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    + .slider-btn {
      opacity: 1;
      padding: 0 3rem;
    }
  }
}

.slider-btn {
  display: flex;
  opacity: 0;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  background: transparent;
  padding: 0 1rem;
  transition: 0.5s ease;
  z-index: 9;

  &:hover {
    opacity: 1;
    padding: 0 3rem;
  }

  &__pre,
  &__nxt {
    display: flex;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 1px solid $text-third-color;
    font-size: 2rem;
    color: $text-third-color;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;

    &:hover {
      border: none;
      background-color: $primary-color;
      color: #fff;
    }

    i {
      background-color: transparent;
      margin: auto;
    }
  }
}

.hero-text {
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;

  &__container {
    margin: auto 72px;
    width: 50%;
  }

  &__title {
    @include font-custom(72px, 700, $text-second-color, 72px);
    opacity: 0;
    animation: slideUp 1s forwards;
  }

  &__info {
    @include font-custom(25px, 400, $text-third-color, 72px);
    opacity: 0;
    animation: slideUp 1s 0.4s forwards;
  }

  &__description {
    @include font-custom(16px, 300);
    line-height: 29px;
    font-family: Poppins, sans-serif;
    opacity: 0;
    animation: slideUp 1s 0.6s forwards;
  }

  hr {
    background-color: #e55472;
    height: 2px;
    border: none;
    width: 100px;
    margin-bottom: 15px;
    opacity: 0;
    animation: slideUp 1s 0.6s forwards;
  }

  &__btn-shop {
    @include font-custom;
    margin-top: 25px;
    color: #fff;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 50px;
    background-color: $primary-color;
    padding: auto 3rem;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
    animation: slideUp 1s 0.8s forwards;

    &:hover {
      background-color: $text-second-color;
    }
  }

  &:hover {
    + .slider-btn {
      opacity: 1;
      padding: 0 3rem;
    }
  }
}

.bg-trans {
  background-color: transparent;
}

.feature {
  position: absolute;
  display: flex;
  width: 100%;
  height: 8rem;
  transform: translateY(-50%);
  z-index: 3;
  background-color: transparent;

  &__items {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #d1dae0;
    height: 100%;
    width: 100%;
    margin: 0 72px;
    padding: 0 1rem;
  }

  &__item {
    margin: auto;
    display: flex;
    align-items: center;
    line-height: 2rem;
    span {
      @include font-custom(14px, 300, $text-second-color);
    }
  }

  &__icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: $text-third-color;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__container {
    margin: 9rem 72px;
  }
}

.banner {
  width: 100%;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
      transition: transform 0.6s ease-out;

      &:hover {
        transform: scale(1.06);
      }
    }

    &--two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 20rem;
      img {
        object-fit: cover;
        width: 100%;
        transition: transform 0.6s ease-out;

        &:hover {
          transform: scale(1.06);
        }
      }
    }

    &--one {
      display: grid;
      img {
        object-fit: cover;
        width: 100%;
        transition: transform 0.8s ease-out;

        &:hover {
          transform: scale(1.06);
        }
      }
    }
  }

  &__item {
    overflow: hidden;
  }
}

.card {
  width: 100%;
  margin: 5rem 0;

  &__section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    @include font-custom(40px, 800, $text-primary-color, 48px);

    hr {
      border: none;
      width: 10%;
      text-align: center;
      background-color: #e55472;
      height: 2px;
      margin-top: 1rem;
    }
  }

  &__items {
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;

    &--row {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      overflow-y: hidden;
      gap: 4rem;
    }
  }

  &__item {
    width: 16rem;
    img {
      object-fit: cover;
      width: 100%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-img {
    height: 16.5rem;
    margin-bottom: 5rem;
    &:hover {
      .card__img-panel {
        display: grid;
        animation: imgPanelSlideUp 0.5s forwards;
      }
    }
  }

  &__img-panel {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1px;
    width: 100%;
    height: 3rem;
    position: relative;
    transform: translateY(-100%);

    li {
      @include flex-el;
      background-color: $text-third-color;
      transition: 0.4s;
      cursor: pointer;

      &:hover {
        background-color: $primary-color;
      }
    }

    i {
      background-color: transparent;
      font-size: 1rem;
    }

    a {
      @include font-custom(14px, 400, #fff);
    }
  }

  &__item-info {
    margin-top: 2rem;
  }

  &__item-desc {
    @include flex-el;
    width: 100%;
  }

  .price {
    @include font-custom(16px, 600, $text-third-color, 29px);
    margin-right: 5px;
  }

  .past-price {
    @include font-custom(13px, 600, $text-fourth-color, 23px);
    text-decoration: line-through;
  }

  &__img-badge {
    background-color: $second-color;
    color: #fff;
    width: 55px;
    border-radius: 0 5px 5px 0;
    height: 25px;
    position: relative;
    transform: translateY(50px);
    text-align: center;
    padding: 2px 0;
    font-weight: bold;

    span {
      background-color: transparent;
    }
  }
}

.blog {
  width: 100%;
  margin-top: 10rem;
  &::-webkit-scrollbar {
    width: 1px;
    color: transparent;
  }

  &__section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    @include font-custom(40px, 800, $text-primary-color, 48px);

    hr {
      border: none;
      width: 10%;
      text-align: center;
      background-color: #e55472;
      height: 2px;
      margin-top: 1rem;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(7, 30%);
    gap: 4rem;
    overflow-y: hidden;
  }

  &__item {
    width: 23rem;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__item-info {
    @include flex-el(center, start, column);
    height: 8rem;
    padding: 2rem 0;
  }

  &__info-meta {
    @include font-custom(14px, 500, $text-third-color, 25px);
    font-family: Poppins;
    margin-bottom: 1rem;
    span {
      margin-left: 1rem;
    }

    i {
      margin-right: 1rem;
    }
  }

  &__info-link {
    @include font-custom(24px, 500, $text-primary-color, 24px);
  }

  hr {
    border: none;
    width: 10%;
    text-align: center;
    background-color: #e55472;
    height: 2px;
    margin-top: 1rem;
  }

  #blog-1:checked ~ .blog__item {
    transform: translate(0);
  }

  #blog-2:checked ~ .blog__item {
    transform: translate(-27rem);
  }

  #blog-3:checked ~ .blog__item {
    transform: translateX(-54rem);
  }
}

.footer {
  width: 100%;
}

.footer-top {
  width: 100%;
  height: 10rem;
  @include flex-el(space-between);
  background-color: #f9f9f9;

  &__container {
    padding: 0 72px;
    width: 100%;
    background-color: transparent;
  }

  &__items {
    @include flex-el(space-between);
    background-color: transparent;
  }

  &__item {
    background-color: transparent;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__link-img {
    background-color: transparent;
    transition: transform 0.4s ease;
  }
}

.footer-bottom {
  width: 100%;
  height: 30rem;
  background-color: #272829;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 95px 72px;
    background-color: transparent;
    flex-direction: column;
    padding: 95px 72px 0 72px;
  }

  &__info-block {
    @include flex-el;
    background-color: transparent;
    height: 100%;
    padding: 0;
    margin-bottom: 1rem;
  }
  &__items {
    background-color: transparent;
    width: 100%;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    background-color: transparent;
    color: #666666;
    transition: 0.4s;
    &--title {
      background: transparent;

      .footer-bottom__item-link {
        color: white;
      }
    }

    &:hover {
      animation: slideRight 0.4s ease forwards;
      .footer-bottom__item-link {
        span {
          display: inline-flex;
          animation: slideRight 0.4s ease forwards;
          opacity: 1;
        }
      }
    }
  }

  &__item-link {
    color: #666666;
    transition: 0.4s;

    img {
      background: transparent;
    }
    span {
      display: none;
      opacity: 0;
      background: transparent;
      margin-right: 1rem;
      transition: 0.8s ease;
    }

    &--dead {
      color: #666666;
      cursor: default;

      &:hover {
        transform: none;
        color: $text-third-color;
        animation: none;
      }
    }
  }

  i {
    margin-right: 1rem;
    background-color: transparent;
  }
}

.copyright {
  background: transparent;
  height: 60px;

  hr {
    color: #4f4f4f;
  }

  &__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: transparent;
    align-items: center;
    height: 100%;

    .text {
      background-color: transparent;
      color: $text-third-color;
      font-size: 13px;
    }

    .res {
      background-color: transparent;
    }
  }
}

.res {
  &__link {
    padding-right: 1rem;
    i {
      background: transparent;
    }
  }
}
