@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: rgb(0 100 0 / 0.05);
  // outline: 1px solid red;
  font-family: "Montserrat", "Sans-serif";
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  @include clearlink($text-second-color);
  // background-color: transparent;
  font-size: 14px;
  transition: 0.4s;

  &:hover {
    color: $primary-color;
  }
}

.dsp-none {
  display: none;
}

.dsp-block {
  display: block;
}

.dsp-flex {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  opacity: 1;
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(0 0 0 / 39%);
  z-index: 4;
  transition: all 300ms ease-in;

  &.on {
    opacity: 1;
    height: 100vh;
  }
}

.nav {
  width: 90%;

  hr {
    border: none;
    height: 1px;
    background-color: #f0f3f5;
  }
}

.nav-top {
  height: 8rem;
  @include flex-el(space-between);
}

.burger-menu {
  display: none;
}

.contact-search {
  @include flex-el(space-evenly);

  &__contact {
    @include flex-el(space-evenly);
    font-size: 12px;
    color: $text-second-color;
    margin-right: 1rem;

    a {
      @include clearlink($text-primary-color);
    }
  }

  &__search {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 526px;

    &--input {
      position: relative;
      display: flex;
      align-items: center;
    }

    &--responses {
      position: absolute;
      background: #666;
      top: 5.9375rem;
      border-radius: 15px 15px 0 0;
      z-index: 9;
      width: 100%;
      max-width: 526px;
    }

    &--response-item {
      text-align: left;
      padding-left: 1rem;
      padding-top: 1rem;
      padding-bottom: 0.2rem;

      &:not(:last-child)::after {
        content: "";
        display: block;
        width: 80%;
        height: 1px;
        background: #fff;
      }
    }

    &--response-link {
      color: #fff;
      font-size: 16px;
      font-weight: 450;
    }
  }

  .input-search {
    width: 40vw;
    height: 45px;
    border: 1px solid #d1dae0;
    border-radius: 50px;
    padding: 0 2rem;
  }

  input:focus {
    outline: 1px solid $primary-color;
  }

  .btn__search {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 1rem;
    font-size: 20px;

    color: $text-third-color;
  }
}

.mini-card {
  @include flex-el(space-evenly);
  font-size: 12px;
  color: $text-second-color;
  line-height: 1.5rem;

  &__item {
    position: relative;
  }

  &__order-qt {
    background: $primary-color;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 0;
    width: 1rem;
    align-items: center;
    height: 1rem;
    font-weight: 5;
    justify-content: center;
    border-radius: 100%;
  }
  i {
    font-size: 20px;
    padding-inline: 10px;
  }

  &:last-child {
    @include clearlink($text-primary-color);
  }

  &__price {
    color: $primary-color;
  }
}

.nav-aside {
  display: flex;
  z-index: 9;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  display: none;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;

  &__items {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 42.0625rem;
    align-items: start;
    margin: auto;
    padding-inline-end: 1rem;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    padding-block: 8px;
    margin-block: 0.5rem;

    &--search-input {
      display: flex;
      width: 100%;
      position: relative;
    }

    &--responses {
      border-radius: 5px 5px 0 0;
      background: #666;
      position: absolute;
      width: 100%;
      top: 2.8125rem;
    }

    &--response-item {
      text-align: left;
      padding-left: 1rem;
      padding-block: 0.5rem;

      &:not(:last-child)::after {
        content: "";
        display: block;
        width: 80%;
        height: 1px;
        background: #fff;
      }
    }

    &--response-link {
      color: #fff;
      font-size: 16px;
      font-weight: 450;
    }

    &--menu {
      width: 100%;
      max-height: 26.75rem;
      overflow-x: hidden;
    }

    &--sub-total {
      padding-block: 1rem;
      font-size: 1rem;
    }

    &--logo {
      width: 100%;
      border-bottom: 1px solid #cbd0d5;
      padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--search {
      width: 80%;
      display: flex;
      flex-direction: column;
      position: relative;

      .input-search {
        width: 100%;
        border: none;
        height: 2.5rem;
        padding-left: 1rem;
        background: rgb(238 245 244);
      }
    }

    &--footer {
      width: 100%;
      padding-block: 8px;
      margin-block: 0.5rem;

      li {
        padding-block: 0.5rem;
        margin-block: 1rem;
      }

      span {
        color: #666;
        font-size: 14px;
      }

      h5 {
        display: flex;
        justify-content: space-between;
      }
    }

    &--btn {
      padding-block: 1.5rem;
      display: flex;
      justify-content: space-around;

      .btn {
        padding-block: 0.625rem;
        border: none;
        padding-inline: 1rem;
        font-size: 1rem;
        color: #fff;
        cursor: pointer;
      }

      .btn-view {
        background-color: $primary-color;
        &:hover {
          background-color: $text-second-color;
        }
      }

      .btn-check {
        background-color: $text-second-color;
        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }

  .btn.btn__search {
    border: none;
    font-size: 1rem;
    right: 0;
    background-color: transparent;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
  }

  input:focus {
    outline: 1px solid $primary-color;
  }

  &__cart {
    display: flex;
    justify-content: center;

    &--img {
      width: 80px;
      margin-right: 15px;
      position: relative;
    }

    &--prop {
      display: flex;
      width: 90%;
      gap: 1rem;
    }

    &--badge {
      position: absolute;
      color: #666;
      justify-content: center;
      transform: translate(-6px, -10px);
      align-items: center;
      display: flex;
      padding: 14px;
      height: 25px;
      font-weight: 300;
      width: 25px;
      border: none;
      border-radius: 100%;
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
      cursor: pointer;

      &:hover {
        background-color: red;
        color: #fff;
      }

      i {
        display: block;
        padding: 0;
        margin: 0;
      }
    }

    &--item {
      display: flex;
      padding-block: 20px 0;
      padding-left: 10px;
      margin-bottom: 20px;
    }

    &--link {
      outline: none;

      img {
        height: 100%;
      }
    }

    &--info {
      width: 100%;
      text-align: right;
      height: 100%;
    }
  }

  &.show-nav-aside {
    display: flex;
    opacity: 1;
    transform: translate(0);
  }
}

.nav-aside--cart {
  max-width: 400px;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: #fff;
  position: fixed;
  z-index: 9;
  position: fixed;
  transform: translateX(100%);
  top: 0;
  right: 0;
  transition: transform 0.4s ease-in;

  &.show-nav-aside {
    transform: translate(0);
    display: flex;
    opacity: 1;
  }

  &__close {
    --bar-width: 2rem;
    --bar-height: 3.5px;
    --burger-gap: 3px;
    --burger-height: calc(var(--bar-height) * 3 + var(--burger-gap) * 2);
    --x-width: calc(var(--burger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    width: max-content;
    gap: var(--burger-gap);
    z-index: 2;
    padding-inline-start: 1rem;
    cursor: pointer;

    input {
      appearance: none;
      opacity: 1;
      width: 1px;
      height: var(--bar-height);
      // background-color: #000;
    }

    &::before,
    &::after {
      cursor: pointer;
      content: "";
      width: var(--bar-width);
      height: var(--bar-height);
      background-color: #000;
      border-radius: 9999px;
      transform-origin: left center;
    }

    &::before {
      transform: rotate(45deg);
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / -2);
    }

    &::after {
      transform: rotate(-45deg);
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / 2);
    }
  }

  .input-search {
    border: none;
    background: aliceblue;
    width: 100%;
    height: 3rem;
    padding-inline-start: 1rem;
  }
}

.nav-bottom {
  height: 4rem;
  display: flex;
  justify-content: center;

  &__items {
    @include flex-el(space-between);
    width: 50%;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    &:hover {
      .nav-bottom__dropdown-block {
        display: grid;
        float: none;
        animation: DropdownSlideUp 0.4s forwards ease-in;
      }
    }
  }

  &__dropdown-block {
    display: none;
    opacity: 0;
    z-index: 3;
    position: absolute;
    top: 12rem;
    border-top: 2px solid $primary-color;
    height: 30vh;
    width: auto;
    align-items: center;
    flex-direction: column;
  }

  &__dropdown-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #fff;
    padding: 15px 0;
  }

  &__dropdown-item {
    padding: 1rem 4rem 1rem 2rem;

    &--head {
      background-color: #f9f9f9;
      border-bottom: 1px dashed #e8e8e8;
      padding: 10px 4rem 10px 10px;
      margin-left: 25px;
    }
  }

  &__dropdown-link {
    @include font-custom(14px, 300, $text-second-color);
    &:hover {
      color: $primary-color;
    }
  }
}

.search {
  position: relative;

  &__response {
    border-radius: 5px 5px 0 0;
    background: #666;
    position: absolute;
    width: 100%;
    margin-top: 45px;
    border-radius: 10px;
    // padding-block: .5rem;
    z-index: 9;

    &--item {
      text-align: left;
      padding-left: 1rem;
      padding-top: 0.5rem;
      cursor: pointer;
      // margin-bottom: .5rem;

      &:hover {
        background: lighten(#666, 10);
      }

      &:not(:last-child)::after {
        content: "";
        display: block;
        width: 80%;
        height: 1px;
        background: #fff;
        margin-top: 0.5rem;
      }

      &:first-child {
        border-radius: 10px 10px 0 0;
      }

      &:last-child {
        padding-bottom: 0.5rem;
        border-radius: 0 0 10px 10px;
      }
    }

    &--link {
      color: #fff;
      font-size: 16px;
      font-weight: 450;
    }
  }
}

.nav-bottom__item {
  &:nth-child(2) {
    .nav-bottom__dropdown-block {
      grid-template-columns: repeat(4, 1fr);
      position: absolute;
      left: 10%;
    }
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 700px;

  #i1,
  #i2 {
    display: none;
  }

  #i1:checked ~ #one,
  #i2:checked ~ #two {
    z-index: 1;
    opacity: 1;
  }
}

.slide__img {
  position: absolute;
  width: 100%;
  height: 43.75rem;
  transition: 0.4s ease-out;
  opacity: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    + .slider-btn {
      opacity: 1;
      padding: 0 3rem;
    }
  }
}

.slider-btn {
  display: flex;
  opacity: 0;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  // // background: transparent;
  padding-inline: 1rem;
  transition: 0.5s ease;
  z-index: 8;

  &:hover {
    opacity: 1;
    padding-inline: 3rem;
  }

  &__pre,
  &__nxt {
    display: flex;
    width: 3rem;
    height: 3rem;
    // background-color: transparent;
    border: 1px solid $text-third-color;
    font-size: 2rem;
    color: $text-third-color;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;

    &:hover {
      border: none;
      background-color: $primary-color;
      color: #fff;
    }

    i {
      // background-color: transparent;
      margin: auto;
    }
  }
}

.hero-text {
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  justify-content: center;
  align-items: center;

  &__container {
    width: 90%;
    &--text {
      width: 50%;
    }
  }

  &__title {
    @include font-custom(65px, 700, $text-second-color, 72px);
    opacity: 0;
    animation: slideUp 1s forwards;
  }

  &__info {
    @include font-custom(25px, 400, $text-third-color, 72px);
    opacity: 0;
    animation: slideUp 1s 0.4s forwards;
  }

  &__description {
    @include font-custom(14px, 300);
    line-height: 29px;
    font-family: Poppins, sans-serif;
    opacity: 0;
    animation: slideUp 1s 0.6s forwards;
  }

  hr {
    background-color: #e55472;
    height: 2px;
    border: none;
    width: 100px;
    margin-bottom: 15px;
    opacity: 0;
    animation: slideUp 1s 0.6s forwards;
  }

  &__btn-shop {
    @include font-custom;
    margin-top: 25px;
    color: #fff;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 50px;
    background-color: $primary-color;
    padding: auto 3rem;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
    animation: slideUp 1s 0.8s forwards;

    &:hover {
      background-color: $text-second-color;
    }
  }

  &:hover {
    + .slider-btn {
      opacity: 1;
      padding: 0 3rem;
    }
  }
}

.feature {
  display: flex;
  width: 90%;
  height: 8rem;
  transform: translateY(-50%);
  z-index: 3;
  // background-color: transparent;

  &__items {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #d1dae0;
    height: 100%;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: 2rem;
    span {
      @include font-custom(14px, 300, $text-second-color);
    }
  }

  &__icon {
    font-size: 2rem;
    margin-inline: 1rem;
    color: $text-third-color;
  }

  &__info {
    display: grid;
    gap: 0.5rem;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__container {
    margin-inline: auto;
    width: 90%;
  }
}

.banner {
  width: 100%;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;

    img {
      object-fit: cover;
      height: 100%;
      transition: transform 0.6s ease-out;

      &:hover {
        transform: scale(1.06);
      }
    }

    &--two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      img {
        object-fit: cover;
        height: 100%;
        transition: transform 0.6s ease-out;

        &:hover {
          transform: scale(1.06);
        }
      }
    }

    &--one {
      display: grid;
      img {
        object-fit: cover;
        height: 100%;
        transition: transform 0.8s ease-out;

        &:hover {
          transform: scale(1.06);
        }
      }
    }
  }

  &__item {
    overflow: hidden;
  }
}

.card {
  width: 100%;
  margin-block: 5rem;
  display: inline-block;

  &__section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    @include font-custom(40px, 800, $text-primary-color, 48px);

    hr {
      border: none;
      width: 10%;
      text-align: center;
      background-color: #e55472;
      height: 2px;
      margin-top: 1rem;
    }
  }

  &__items {
    width: 100%;
    display: grid;
    grid: auto-flow / repeat(4, 1fr);

    &.row {
      display: grid;
      grid-template-columns: repeat(8, 25%);
      overflow-y: hidden;
    }
  }

  &__item-prop {
    padding-inline: 1rem;
    padding-bottom: 2rem;
  }

  &__item {
    img {
      object-fit: cover;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-img {
    // height: 16.5rem;
    // margin-bottom: 5rem;
    position: relative;
    &:hover {
      .card__img-panel {
        display: grid;
        animation: imgPanelSlideUp 0.5s forwards;
      }
    }
  }

  &__img-link {
    display: block;
  }

  &__img-panel {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1px;
    width: 100%;
    height: 3rem;
    position: absolute;
    transform: translateY(-100%);

    button {
      border: none;
      background: #666;
      cursor: pointer;
    }

    button:hover {
      background: $primary-color;
    }

    li {
      @include flex-el;
      background-color: $text-third-color;
      transition: 0.4s;
      cursor: pointer;

      &:hover {
        background-color: $primary-color;
      }
    }

    i {
      // background-color: transparent;
      font-size: 1rem;
    }

    a {
      @include font-custom(14px, 400, #fff);
    }
  }

  &__text {
    display: block;
    // background: transparent;
  }

  .fa-solid.fa-basket-shopping.card__icon {
    display: none;
  }

  &__item-info {
    // margin-top: 2rem;
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    margin-top: 0.5rem;
  }

  &__item-desc {
    @include flex-el;
    width: 100%;
  }

  .price {
    @include font-custom(16px, 600, $text-third-color, 29px);
    margin-right: 5px;
  }

  .past-price {
    @include font-custom(13px, 600, $text-fourth-color, 23px);
    text-decoration: line-through;
  }

  &__img-badge {
    background-color: $second-color;
    color: #fff;
    width: 55px;
    border-radius: 0 5px 5px 0;
    height: 25px;
    position: absolute;
    transform: translateY(50%);
    text-align: center;
    padding: 2px 0;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hot {
    background-color: $primary-color;
  }
}

.blog {
  width: 100%;
  margin-block: 5rem;
  &::-webkit-scrollbar {
    width: 1px;
    color: transparent;
  }

  &__section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    @include font-custom(40px, 800, $text-primary-color, 48px);

    hr {
      border: none;
      width: 10%;
      text-align: center;
      background-color: #e55472;
      height: 2px;
      margin-top: 1rem;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(7, 30%);
    gap: 4rem;
    overflow-y: hidden;
  }

  &__item {
    width: 23rem;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__item-info {
    @include flex-el(center, start, column);
    height: 8rem;
    padding: 2rem 0;
  }

  &__info-meta {
    @include font-custom(14px, 500, $text-third-color, 25px);
    font-family: Poppins;
    margin-bottom: 1rem;
    span {
      margin-left: 1rem;
    }

    i {
      margin-right: 1rem;
    }
  }

  &__info-link {
    @include font-custom(24px, 500, $text-primary-color, 24px);
  }

  hr {
    border: none;
    width: 10%;
    text-align: center;
    background-color: #e55472;
    height: 2px;
    margin-top: 1rem;
  }

  #blog-1:checked ~ .blog__item {
    transform: translate(0);
  }

  #blog-2:checked ~ .blog__item {
    transform: translate(-27rem);
  }

  #blog-3:checked ~ .blog__item {
    transform: translateX(-54rem);
  }
}

.footer {
  width: 100%;
}

.footer-top {
  width: 100%;
  height: 10rem;
  @include flex-el(space-between);
  background-color: #f9f9f9;

  &__container {
    padding: 0 72px;
    width: 100%;
    // background-color: transparent;
  }

  &__items {
    @include flex-el(space-between);
    // background-color: transparent;
  }

  &__item {
    // background-color: transparent;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__link-img {
    // background-color: transparent;
    transition: transform 0.4s ease;
  }
}

.footer-bottom {
  width: 100%;
  height: 30rem;
  background-color: #272829;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 95px 72px;
    // background-color: transparent;
    flex-direction: column;
    padding: 95px 72px 0 72px;
  }

  &__info-block {
    @include flex-el;
    // background-color: transparent;
    height: 100%;
    padding: 0;
    margin-bottom: 1rem;
  }
  &__items {
    // background-color: transparent;
    width: 100%;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    // background-color: transparent;
    color: #b5b5b5;
    transition: 0.4s;
    &--title {
      // background: transparent;

      .footer-bottom__item-link {
        color: white;
      }
    }

    &:hover {
      animation: slideRight 0.4s ease forwards;
      .footer-bottom__item-link {
        span {
          display: inline-flex;
          animation: slideRight 0.4s ease forwards;
          opacity: 1;
        }
      }
    }
  }

  &__item-link {
    color: #b5b5b5;
    transition: 0.4s;

    span {
      display: none;
      opacity: 0;
      margin-right: 1rem;
      transition: 0.8s ease;
    }

    &--dead {
      color: #b5b5b5;
      cursor: default;

      &:hover {
        transform: none;
        color: $text-third-color;
        animation: none;
      }
    }
  }

  i {
    margin-right: 1rem;
    // background-color: transparent;
  }
}

.copyright {
  // background: transparent;
  height: 60px;

  hr {
    color: #4f4f4f;
  }

  &__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // background-color: transparent;
    align-items: center;
    height: 100%;

    .text {
      color: #b5b5b5;
      font-size: 13px;
    }
  }
}

.res {
  &__link {
    padding-right: 1rem;
    color: #b5b5b5;
  }
}
