@include media-lg {
  .contact-search {
    display: none;
  }

  .card {
    &__item {
      width: 12rem;
      height: 409px;
    }

    .fa-solid.fa-basket-shopping.card__icon {
      display: block;
    }

    &__text {
      display: none;
    }
  }

  .feature {
    height: 16rem;
    transform: translateY(30%);

    &__items {
      display: flex;
      padding: 0 6rem;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  .main__container {
    padding-top: 16rem;
  }

  .blog {
    &__items {
      grid-template-columns: repeat(7, 50%);
      gap: 2em;
    }

    &__item {
      width: 27rem;
    }
  }

  .footer-bottom {
    height: 100%;
    &__info-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 2rem;
    }
  }
}

@include media-md {
  .nav-bottom {
    display: none;
  }

  .nav {
    height: 4rem;
  }

  .nav-top {
    height: 100%;
    margin: auto 10rem;
  }

  .hero-text__title {
    font-size: 36px;
    line-height: 36px;
  }

  .hero-text__info {
    font-size: 16px;
    line-height: 21px;
  }

  .hero-text__description {
    font-size: 14px;
    line-height: 25px;
  }

  .hero {
    height: 450px;
  }

  .hero-text hr {
    margin: 15px 0;
  }

  .hero-text__container {
    margin: auto 10rem;
  }

  .feature__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10rem;
    padding: 10px 2rem;
  }
  .blog__item {
    width: 20rem;
  }

  .banner {
    &__items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px;

      &--one {
        .banner__item {
          width: 100%;
        }
      }

      &--two {
        margin-top: 0;
      }
    }

    &__item {
      width: 310px;
    }
  }

  .main__container {
    margin: 9rem 10rem;
  }

  .card {
    &__items {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &--row {
        gap: 2rem;
      }
    }

    &__item-info {
      margin-top: 0;
    }
  }
}

@include media-mb {
  body {
    overflow-x: hidden;
  }

  .feature__items {
    display: grid;
    grid-template-columns: 1fr;
    height: 32rem;
    width: 540px;
    margin: auto;
  }

  .main__container {
    padding-top: 35rem;
  }

  .banner {
    &__items {
      grid-template-columns: 1fr;

      &--two {
        grid-template-columns: 1fr;
      }
    }
    &__item {
      width: 540px;
    }
  }

  .card {
    &__items {
      grid-template-columns: repeat(2, 1fr);

      &--row {
        gap: 3.5rem;
      }
    }

    &__item {
      width: 15rem;
      gap: 1rem;
    }
  }

  .blog {
    &__item {
      width: 540px;
    }

    &__items {
      gap: 1rem;
      grid-template-columns: repeat(7, 1fr);
    }
  }

  .footer .off {
    display: none;
  }

  .card {
    &__section-title {
      justify-content: center;
      align-items: center;
      font-size: 2.3rem;
    }
  }

  .nav-top {
    width: 540px;
    margin: auto;
  }

  .hero-text__container.bg-trans {
    margin: auto;
    width: 540px;
  }

  #hero-text {
    margin: 10%;
  }

  .main__container {
    width: 540px;
    margin: 9rem auto;
  }
}

@include media-sm {
  .footer-bottom__info-block {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .nav {
    height: 134px;
  }

  .nav-top {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .banner {
    &__item {
      width: 90vw;
    }
  }

  .off--sm {
    display: none;
  }

  .blog {
    &__item {
      width: 363px;
    }

    &__items {
      gap: 2rem;
    }
  }

  .banner__item {
    width: 363px;
  }

  .card {
    &__item {
      width: 173px;
    }

    &__items {
      gap: 10px;
      &--row {
        gap: 10px;
      }
    }
  }

  #hero-text {
    width: 100vw;
  }

  .hero {
    height: 432px;
  }

  .hero-text {
    &__title {
      .bg-trans {
        font-size: 26px;
        line-height: 26px;
      }
    }

    &__info {
      .bg-trans {
        font-size: 14px;
      }
    }

    &__container {
      .bg-trans {
        padding: 0 5%;
      }
    }
  }

  #hero-text {
    margin: auto;
  }

  .feature__items {
    width: 363px;
  }

  .main__container {
    width: 363px;
  }

  .nav-top {
    width: 363px;
  }

  .footer-bottom__container {
    padding: 95px 2% 0;
  }

  .copyright__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
