@include media-lg {
  .contact-search {
    display: none;
  }

  .nav-top {
    height: 4rem;
  }

  .card {
    .fa-solid.fa-basket-shopping.card__icon {
      display: block;
    }

    &__text {
      display: none;
    }
  }

  .feature {
    height: 16rem;
    transform: translateY(0);
    margin-block: 5rem;

    &__items {
      display: flex;
      padding: 0 6rem;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  // .main__container {
  //   padding-top: 16rem;
  // }

  .blog {
    &__items {
      grid-template-columns: repeat(7, 50%);
      gap: 2em;
    }

    &__item {
      width: 27rem;
    }
  }

  .footer-bottom {
    height: 100%;
    &__info-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 2rem;
    }
  }

  .footer .off {
    display: none;
  }
}

@include media-md {
  .slide__img {
    height: 28.125rem;
  }

  .nav-bottom {
    display: none;
  }

  .nav-top {
    height: 100%;
  }

  .burger {
    span {
      cursor: pointer;
      content: "";
      width: var(--bar-width);
      height: var(--bar-height);
      background-color: #000;
      border-radius: 9999px;
      transform-origin: 5px 1px;
      transition: width 0.2s ease-in, opacity 0.2s ease-out, transform 0.4s ease;
    }

    &.open {
      .burger-menu {
        > span:first-child {
          transform: rotate(45deg);
        }

        > span:nth-child(2) {
          opacity: 0;
        }

        > span:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .burger-menu {
    --bar-width: 2rem;
    --bar-height: 3px;
    --burger-gap: 5px;
    --burger-height: calc(var(--bar-height) * 3 + var(--burger-gap) * 2);
    --x-width: calc(var(--burger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    width: max-content;
    gap: var(--burger-gap);
    z-index: 2;
    padding-inline-start: 1rem;
    cursor: pointer;

    input {
      appearance: none;
      padding: 0;
      margin: 0;
      outline: none;
    }

    input:checked {
      opacity: 0;
      width: 1px;
    }
  }

  .hero-text__title {
    font-size: 36px;
    line-height: 36px;
  }

  .hero-text__info {
    font-size: 16px;
    line-height: 21px;
  }

  .hero-text__description {
    font-size: 14px;
    line-height: 25px;
  }

  .hero {
    height: 450px;
  }

  .hero-text {
    hr {
      margin: 15px 0;
    }
  }

  .feature__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 2rem;
  }
  .blog__item {
    width: 20rem;
  }

  .banner {
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &--one {
        .banner__item {
          width: 100%;
        }
      }

      &--two {
        margin-top: 0;
        display: flex;
        justify-content: center;
        .banner__item{
          width: 100%;
        }
      }
    }

    &__item {
      width: 45%;
    }
  }

  .card {
    &__items {
      height: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &--row {
        gap: 2rem;
      }
    }

    &__item-prop {
      font-size: 0.75rem;
    }

    &__item-info {
      margin-top: 0;
    }
  }

  .footer .off--md {
    display: none;
  }
}

@include media-mb {
  body {
    overflow-x: hidden;
  }

  .feature {
    height: 32rem;
    width: 70%;

    &__items {
      display: grid;
      grid-template-columns: 1fr;
      margin: auto;
    }

    &__item {
      justify-content: center;
    }
  }

  .nav {
    width: 70%;
  }

  .banner {
    &__items {
      &--two {
        flex-direction: column;
      }
    }
  }

  .card {
    &__items {
      grid-template-columns: repeat(2, 1fr);

      &.row {
        grid-template-columns: repeat(8, 50%);
      }
    }

    &__item {
      gap: 1rem;
    }
  }

  .blog {
    &__item {
      width: 540px;
    }

    &__items {
      gap: 1rem;
      grid-template-columns: repeat(7, 1fr);
    }
  }

  .footer .off--mb {
    display: none;
  }

  .card {
    &__section-title {
      justify-content: center;
      align-items: center;
      font-size: 2.3rem;
    }
  }

  .nav-top {
    margin: auto;
  }

  .hero-text__container {
    width: 70%;
    &--text {
      width: 100%;
    }
  }

  .main__container {
    width: 70%;
  }
}

@include media-sm {
  .footer-bottom__info-block {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .nav {
    height: 134px;
    width: 90%;
  }

  .nav-top {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }

  .banner {
    &__item {
      width: 90vw;
    }
  }

  .off--sm {
    display: none;
  }

  .blog {
    &__item {
      width: 363px;
    }

    &__items {
      gap: 2rem;
    }

    &__section-title {
      line-height: normal;
      font-size: 26px;

      &::after {
        content: "";
        height: 3px;
        width: 20%;
        margin-top: 0.5rem;
        background: red;
      }
    }
  }

  .card {
    &__items {
      gap: 10px;
      &--row {
        gap: 10px;
      }
    }

    &__section-title {
      line-height: normal;
      font-size: 26px;

      &::after {
        content: "";
        height: 3px;
        width: 20%;
        margin-top: 0.5rem;
        background: red;
      }
    }
  }

  #hero-text {
    width: 100%;
    margin: auto;
  }

  .hero {
    height: 432px;
  }

  .hero-text {
    &__title {
      .bg-trans {
        font-size: 26px;
        line-height: 26px;
      }
    }

    &__info {
      .bg-trans {
        font-size: 14px;
      }
    }

    &__container {
      width: 90%;
      .bg-trans {
        padding: 0 5%;
      }
    }
  }

  .feature {
    width: 90%;
  }

  .main__container {
    width: 90%;
  }

  .footer-bottom__container {
    padding: 95px 2% 0;
  }

  .copyright__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
